<div class='container-fluid align-items-center'>
    <div class="col-md-10">
        <h1 class="display-5">Hello, Milky Way!</h1>
        <p class="lead">This is a Simple Project Managment Application. All the pages that are loaded here are dynamic. '\(O-O)/'</p>
        <p class="lead">The website gonna be updated regularly. Stay tune to check out new features.</p>
        <hr class="my-4" style="width:70%;text-align:left;margin-left:0">
        <p></p>
        <a class="btn btn-primary btn-lg" href="/projects" target="_blank" role="button">Login</a>
        <a class="btn btn-primary btn-lg" href="/test" target="_blank" role="button">Test</a>
    </div>
</div>