<div class='fade-in'style="height: 90vh; background-color: #ffffff; display:flex; justify-content: space-around;
		align-items: center;">
    <div class="col-md-10">
        <h1 class="display-5">You are unauthorized</h1>
        <p class="lead">🛑'\(O-O)X(O-O)/'🛑</p>
        <p class="lead">Login to use features.</p>
        <hr class="my-4" style="width:70%;text-align:left;margin-left:0">
        <p></p>
        <a class="btn btn-primary btn-lg" href="/"  role="button">Login</a>
    </div>
</div>