<div class='container-fluid align-items-center'>
    <div class="col-md-10">
        <h1 class="display-5">You are unauthrized</h1>
        <p class="lead">🛑'\(O-O)X(O-O)/'🛑</p>
        <p class="lead">Login to use features.</p>
        <hr class="my-4" style="width:70%;text-align:left;margin-left:0">
        <p></p>
        <a class="btn btn-primary btn-lg" href="/projects" target="_blank" role="button">Login</a>
        <a class="btn btn-primary btn-lg" href="/test" target="_blank" role="button">Test</a>
    </div>
</div>